body{
    background: url('img/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height:100vh;
    margin:auto;
}
h1{
    line-height: 2;
    color: white !important;
    font-size: 50px;
    text-align: center;
    padding:1rem;
    text-shadow: 2px 2px #000000;
}

@keyframes fadeindown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    30% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeinleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    30% {
        opacity: 0;
        transform: translateX(-90px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#notes{
    animation: fadeindown 2s;
}
#search{
    opacity: 80%;
    border-radius: 50px;
    width: 100%;
    padding: 10px 15px;
    animation: fadeinleft 3s;
    margin-bottom: 20px;
}
.empty{
    background-color: white;
    padding: 100px;
    text-align: center;
    opacity: 80%;
    border-radius: 20px;
    margin:100px 0px;
    height: 100%;
    width:100%;
    font-size: 20px;
}
h3{
    margin-left:15px;
}
.nbox{
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    opacity: 90%;
    height: 20rem;
    padding: 1.5rem;
    margin-right:5px;
    margin-left:5px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.5);
}
.nbox:hover{
    animation: glow 3s ease-in-out infinite alternate;
}
.note-text{
    font-size: 1rem;
    overflow:hidden;
    height: 11rem;
}
.note-title{
    font-size:1.6rem;
    overflow:hidden;
    height: 2rem;
}
.note-btn{
    padding: 7px;
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    outline: none;
    border:none;
    border-radius: 3px;
    color: rgb(240, 240, 240);
    cursor: pointer;
    min-width:3rem;
}
.date{
    float:right;
    text-align: right;
    color:rgba(0, 0, 0, 0.6);
    font-size: 0.7rem;
}
.add{
    text-align: center;
    justify-content: center;
    background-color: none;
    color: rgb(245, 245, 245);
    border-radius: 1000px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 1000;
}
#add-symbol{
    font-size: 3rem;
    border-radius: 1000px;
}
.add:hover{
    opacity: 90%;
    cursor: pointer;
}
#add-symbol:hover{
    animation: glow 2s ease-in-out infinite alternate;
}
/*
@keyframes glow {
    0% { box-shadow: 0 0 20px #8d71da; }
    100% { box-shadow: 0 0 45px #8d71da; }
}
@keyframes glowing{
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #574cc2, 0 0 40px #574cc2, 0 0 50px #574cc2, 0 0 60px #574cc2, 0 0 70px #574cc2;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #9e7aff, 0 0 40px #9e7aff, 0 0 50px #9e7aff, 0 0 60px #9e7aff, 0 0 70px #9e7aff, 0 0 80px #9e7aff;
    }
  }
*/

*:focus {
    outline: 0 !important;
}
form{
    align-items: center;
    text-align: center;
}
form > *{
    outline: none;
    font-size: 1.4rem;
    padding: 1rem;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 3px;
    align-items: center;
    width:90%;
}
form input{
    border-bottom: 1px solid black;
}
#add-btn{
    background-color: rgb(54, 53, 104);
    color: rgb(255, 255, 255);
    width:50%;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top:0px;
}
#add-btn:hover{
    background-color: rgb(89, 55, 133);
    cursor: pointer;
}
.update-btn{
    background-color: rgb(54, 53, 104);
    color: rgb(255, 255, 255);
    width:50%;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top:0px;
}
.update-btn:hover{
    background-color: rgb(89, 55, 133);
    cursor: pointer;
}
#noteTitleInput{
    font-weight: bold;
}
.editTitle{
    font-weight: bold;
}
.modal-header{
    background-color: rgb(149, 148, 202);
    color: white;
}
/*
#noteBodyInput{
    background-color: #f5ceff;
}
*/
#blue, #white, #purple{
    width:10px;
    margin:5px;
    border-radius: 50px;
    display:inline;
    cursor: pointer;
}

.colour{
    height:50px;
    width: 50px;
    padding:2px;
    margin: 2px;
    border-radius: 100px;
    cursor: pointer;
}
input[type="color"]:first-child {
    padding: 2px;
    margin: 2px;
    border-radius: 50px;
}
  
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 2px;
}
  
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius:50px;
}
